.flexPage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.logoBar{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
}

.logoPanel{
    display: flex;
    align-items: center;
    width: 50%;
}

.linkPanel{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.links{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.pageLinks{
    display: flex;
    width: 75%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.socialLinks{
    display: flex;
    width: 25%;
    justify-content: space-evenly;
}

.contactBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    text-align: center;
    background-color: gray;
    color: white;
}

.signUpBar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.textBar{
    width: 100%;
}

.contactPanel{
    width: 30%;
}

.newsletterPanel{
    width: 30%;
}

.bottomLinkPanel{
    width: 30%;
}